body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.appBar{
    .back{
        background-color: blue;
    }
    .logo{
        background-color: yellow;
    }
    .burger{
        background-color: blue;
    }
}

.links{
    .home{
        background-color: blue;
    }
    .gallery{
        background-color: yellow;
    }
    .contact{
        background-color: green;
    }
    .about{
        background-color: red;
    }
}